<script type="module" src="https://togostanza.github.io/metastanza/hash-table.js" async></script>

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/disease_hpo_details?hp={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns=""
  format-key="true"
></togostanza-hash-table>

<h2>MeSH Descriptor {{id}}</h2>
<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/mesh_descriptor?queryId={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;: &quot;id&quot;, &quot;label&quot;: &quot;MeSH UID&quot;},
            {&quot;id&quot;: &quot;label&quot;}, {&quot;id&quot;: &quot;scope_note&quot;},
            {&quot;id&quot;: &quot;tree_numbers&quot;}]"
  format-key="true"
></togostanza-hash-table>

<h2> mondo {{id}} summary</h2>

togostanza-hash-table {
    --key-font-size: 16px;
  }

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/disease-mondo?mondo={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;: &quot;ID&quot;,&quot;label&quot;:&quot;Mondo ID&quot;}, {&quot;id&quot;: &quot;label&quot;,&quot;label&quot;:&quot;Disease name&quot;},{&quot;id&quot;: &quot;synonym_label&quot;,&quot;label&quot;:&quot;Synonym(s)&quot;},{&quot;id&quot;: &quot;difinition&quot;,&quot;label&quot;:&quot;Disease difinition&quot;},{&quot;id&quot;: &quot;related_databases&quot;,&quot;label&quot;:&quot;Other related database ID(s)&quot;},{&quot;id&quot;: &quot;Upper_classID&quot;,&quot;label&quot;:&quot;Mondo upper disease ID&quot;},{&quot;id&quot;: &quot;Upper_class_label&quot;,&quot;label&quot;:&quot;Mondo upper class disase&quot;}]"
  format-key="true"
></togostanza-hash-table>

<h2> nando {{id}} summary</h2>

  togostanza-hash-table {
    --key-font-size: 16px;
  }

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/Disease-nando?nando={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;: &quot;ID&quot;,&quot;label&quot;:&quot;NANDO ID&quot;}, {&quot;id&quot;: &quot;label_e&quot;,&quot;label&quot;:&quot;Disease name(E)&quot;}, {&quot;id&quot;: &quot;label_j&quot;,&quot;label&quot;:&quot;Disease name(J)&quot;}, {&quot;id&quot;: &quot;synonym_label&quot;,&quot;label&quot;:&quot;Synonym(s)&quot;}, {&quot;id&quot;: &quot;description&quot;,&quot;label&quot;:&quot;Disease description&quot;}, {&quot;id&quot;: &quot;mondo&quot;,&quot;label&quot;:&quot;Related Mondo ID&quot;,&quot;link&quot;:&quot;mondo&quot;}, {&quot;id&quot;: &quot;source&quot;,&quot;label&quot;:&quot;Source document&quot;,&quot;link&quot;:&quot;source&quot;}, {&quot;id&quot;: &quot;upper&quot;,&quot;label&quot;:&quot;NANDO upper disease ID&quot;}, {&quot;id&quot;: &quot;upper_label&quot;,&quot;label&quot;:&quot;NANDO upper class disase&quot;}]"
  format-key="true"
></togostanza-hash-table>
